html, body{
    margin: 0;
    width: 100%;
}

.main-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

.img-background{
    width: 100%;
    height: 100%;
}

h1{
    width: 100%;
    margin-top: 15%;
    position: absolute;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}

#clock {
    width: 100%;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 25%;
}
  
/* Fotter Start */

.footerBottom {
    /*   background-color: #000; */
 
    text-align: center;
position: relative;
  

  
  }
  
 
  
  .designer {
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0px 4px;
    font-size: 23px;
  
  }